<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="row justify-between align-center">
        <a href="/"><h3 class="accent">Tech Blog</h3></a>

        {{#if user}}
            <p>Welcome, <span class="username accent">{{user.username}}</span>!</p>
        {{/if}}

        <nav class="row align-center">
            {{#if user}}
                <a href="/dashboard">Dashboard</a>
                <span class="accent">or</span>
                <a href="/auth/logout">Log Out</a>
            {{else}}
                <a href="/register">Register</a>
                <span class="accent">or</span>
                <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    {{{body}}}

    <footer class="text-center column align-center">
        <p>© 2023</p>
        <p>Hunter Muratore</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>
</body>
</html>